body{
    background-color: #23252d;
    color: #ffffff;
}

@font-face {
    font-family: ExoL;
    src: url('Exo-Light.otf');
}

.centertext{
    font-family: ExoL, sans-serif;
    text-align:center;
}
.centered{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color:dodgerblue;
}

.container{
    padding-left: 5%;
    margin: 0 auto;
    text-align: center;
}

#colorPot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    text-align: center;
    position: relative;
    border-style: outset;
    border-width: thick;
}

#centerPot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

.spinning{
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}


